pyrogram
TgCrypto
requests
aiofiles
hachoir
ffmpeg-python
asyncio
motor
python-dotenv
Pillow
psutil
git+https://github.com/ali-mmagneto/gerek02
git+https://github.com/ali-mmagneto/gerek01
bs4
httpx
unidecode
requests_toolbelt
pySmartDL
